@page
@model WebApplication1.Pages.Admin.Orders.IndexModel
@{
}


<h3 class="text-center mb-4">List Of Orders</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Client</td>
            <td>Units</td>
            <td>Total</td>
            <td>Payment Method</td>
            <td>Payment Status</td>
            <td>Order Status</td>
            <td>Date</td>
            <td>Action</td>
        </tr>
    </thead>

    <tbody>
        @foreach(var order in Model.orders)
        {
            int count = 0;
            decimal total = order.ShippingFee;
            foreach(var item in order.Items)
            {
                count += item.Quantity;
                total += item.Quantity * item.UnitPrice;
            }

            <tr>
                <td>@order.Id</td>
                <td>@order.Client.UserName</td>
                <td>@count</td>
                <td>@(total)$</td>
                <td>@order.PaymentMethod</td>
                <td><span class="badge rounded-pill bg-primary">@order.PaymentStatus</span></td>
                <td><span class="badge rounded-pill bg-primary">@order.OrderStatus</span></td>
                <td>@order.CreatedAt.ToString("MM/dd/yyyy")</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-page="/Admin/Orders/Details" asp-route-id="@order.Id">
                        Details    
                    </a> 
                </td>
            </tr>
        }
    </tbody>
</table>


<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Model.totalPages; i++)
        {
            string active = "";
            if (i == Model.currentPage) active = "active";

            <li class="page-item @active" aria-current="page">
                <a class="page-link" asp-route-indexPage="@i">@i</a>
            </li>
        }
    </ul>
</nav>