@page
@model WebApplication1.Pages.CartModel
@{
}

<div class="row rounded-3 border">
    <div class="col-md-8 p-3">
        <h4>Shopping Cart</h4>
        <hr />

        @if(Model.errorMessage.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <table class="table align-middle">
            <tbody>
                @foreach(var item in Model.cartItems)
                {
                    <tr>
                        <td>
                            <img src="/products/@item.Product.ImageFileName" width="100" class="rounded" alt="..." />
                        </td>
                        <td>
                            <h4>@item.Product.Name</h4>
                            <p>
                                Brand: @item.Product.Brand<br />
                                Category: @item.Product.Category<br />
                                Price: @(item.Product.Price)$
                            </p>
                        </td>
                        <td style="white-space:nowrap">
                            <button type="button" class="btn btn-outline-secondary btn-sm" onclick="decrease(@item.Product.Id)">
                                -
                            </button>
                            <span class="border rounded-3 p-2 m-1">@item.Quantity</span>
                            <button type="button" class="btn btn-outline-secondary btn-sm" onclick="increase(@item.Product.Id)">
                                +
                            </button>
                        </td>
                        <td>@(item.UnitPrice * item.Quantity)$</td>
                        <td>
                            <i class="bi bi-trash text-danger h4" style="cursor:pointer" onclick="remove(@item.Product.Id)"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="text-white rounded my-2 p-3" style="background-color: #08618d">
            <h4>Order Summary</h4>
            <hr />

            @using Microsoft.AspNetCore.Identity
            @inject SignInManager<IdentityUser> SignInManager


            @if (!SignInManager.IsSignedIn(User))
            {

            <div class="row">
                <div class="col">Subtotal:</div>
                <div class="col text-end">@(Model.subTotal)$</div>
            </div>

            <div class="row">
                <div class="col">Shipping Fee:</div>
                <div class="col text-end">@(Model.shippingFee)$</div>
            </div>

            <div class="row mb-3">
                <div class="col">Total:</div>
                <div class="col text-end">@(Model.total)$</div>
            </div>
                
            <div class="row">
                <div class="col d-grid">
                    <a class="btn btn-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </div>
                <div class="col d-grid">
                    <a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
                </div>

            }
            else
            {
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Delivery Address</label>
                        <input class="form-control" asp-for="DeliveryAddress" />
                        <span asp-validation-for="DeliveryAddress" class="text-warning"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Payment Method</label>
                        <select class="form-select" asp-for="PaymentMethod">
                            <option value="cash">Cash On Delivery</option>
                            <option value="credit_card">Credit Card</option>
                            <option value="paypal">Paypal</option>
                        </select>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col">Subtotal:</div>
                        <div class="col text-end">@(Model.subTotal)$</div>
                    </div>

                    <div class="row">
                        <div class="col">Shipping Fee:</div>
                        <div class="col text-end">@(Model.shippingFee)$</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">Total:</div>
                        <div class="col text-end">@(Model.total)$</div>
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-outline-light" type="submit">Checkout</button>
                    </div>
                </form>
            }


        </div>
    </div>
</div>